<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titile</title>
</head>
<body>
<div>
    <h1>H1 Test</h1>>
    <h2>H2 Test</h2>>
    <h3>H3 Test</h3>>
    <P>Some text in the page. <span style="color: red">Mobile Safari</span></P>>
    <a href="https://nikita-filonov.github.io/qa-automation-engineer-ui-course/#/auth/registration" target="_blank" >Link</a>>
    <a href="login">Login</a>
<a href="auth/login">Sign in</a>
<a href="login/profile">Profile</a>
<a href="auth?redirect=login">Auth</a>
<a href="loginsystem">Login System</a>
<a href="home">Home</a>
    <img alt="browsers2.png"  src="https://playwright.help/img/logos/Browsers.png" style="width:50px">
    <ul>
        <li>Item 11</li>>
        <li>Item 12</li>>
        <li>Item 13</li>>
    </ul>
    <ol>
        <li>Item 14</li>>
        <li>Item 15</li>>
        <li>Item 16</li>>
        <li>Item 17</li>>
    </ol>
    <form action="/action" method="POST">
        <input type="text" value="value2" placeholder="Some Text">
        <input required type="email" placeholder="Email">
        <input required type="password" placeholder="password">
        <textarea placeholder="TextArea">Хехе!2</textarea>
        <button>Some</button>>
    </form>
    <table>
        <thead>
            <tr>
                <td>head1</td>
                <td>item2</td>
                <td>item3</td>
            </tr>>
        </thead>
        <tbody>
        <tr>
            <td>row1</td>
            <td>row2</td>
            <td>row3</td>
        </tr>>
        <tr>
            <td>Row1</td>
            <td>Row2</td>
            <td>Row3</td>
        </tbody>

    </table>
</div>
</body>
</html>